<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<div th:replace="base :: navlinks"></div>

<!--<div th:if="${not #lists.isEmpty(messages}">No content yet.</div>-->

<p class="row">
        <span th:each="category : ${categories}">
            <span class="cat-btn"><a th:href="@{/detailcategory/{id}(id=${category.id})}">[[${category
                .categoryName}]]</a></span>
        </span>
</p>

<div class="row text-center">
    <div th:each="car : ${cars}">

        <div class="col-sm-3">
            <div class="card text-center">
                <div class="card-header text-center"><span
                        th:text="${car.make + ' ' +  car.model}"></span></div>
                <div class="card-body">
                    <div th:if="${car.carimgae != ''}">
                        <img class="card-img-top user-img" th:src="${car.carimgae}" alt="car">
                    </div>
                    <a class="card-link btn btn-warning"
                       th:href="@{/detail/{id}(id=${car.id})}">More
                        Info</a>
                </div>
            </div>
        </div><!--end div class col-->

    </div><!--end div th:each-->
</div><!--end div class row-->


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>